@import url("./styles/cocogoose.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-orangency: #FD6C43;
    --color-whitency: #FEF6EC;

    --cocogoose-darkmode: CocogoosePro-Darkmode;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .container {
    margin: 0 auto 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    @screen md {
      padding-left: 40px;
      padding-right: 40px;
    }

    @screen lg {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
}

* {
  -webkit-font-smoothing: antialiased;
}
